@model List<ProdutoModel>


<div class="d-flex justify-content-between">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        @foreach (var categoria in Model)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Categoria" asp-route-categoria="@categoria.Categoria">@categoria.Categoria</a>
            </li>
        }

    </ul>

</div>