@using DigitalStore.Enum
@model List<ProdutoModel>


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow m-0 p-1">
    <div class="container-fluid">
        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">DigitalStore</a>
        <div class="d-flex justify-content-between">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @foreach (var categoria in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Categoria" asp-route-categoria="@categoria.Categoria">@categoria.Categoria</a>
                    </li>
                }

            </ul>

        </div>        <div class="d-flex justify-content-end">
            <ul class="nav">
                <li class="nav-icon">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                @if (ViewBag.Sessao == null)
                {
                    <li class="nav-link">
                        <a role="button" class="nav-link" asp-controller="Home" asp-action="CriarConta">
                            Criar Conta
                        </a>
                    </li>

                    <li class="nav-link">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">
                            Login
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Suporte">
                            Suporte
                        </a>
                    </li>

                }
                else if ((PerfilEnum)ViewBag.UsuarioPerfil ==  PerfilEnum.Cliente)
                {
                    <li class="nav-icon">
                        <a role="button" class="nav-link" asp-controller="Home" asp-action="Favoritos">
                            <i class="bi bi-heart"></i>
                        </a>
                    </li>

                    <li class="nav-icon">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Carrinho">
                            <i class="bi bi-cart3"></i>
                        </a>
                    </li>
                    <li class="nav-user dropdown">
                        <a class="nav-link dropdown-toggle no-caret text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end ">
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="EditarDados">Editar Dados</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="RedefinirSenha">Redefinir Senha</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="ApagarConta">Apagar Conta</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Suporte">Suporte</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Sair">Sair</a></li>
                        </ul>
                    </li>

                }
                else
                {
                    <li>
                        <a class="nav-link fst-italic text-decoration-none" asp-controller="Admin" asp-action="Index">Gerenciamento de Produtos</a>
                    </li>
                    <li class="nav-user dropdown">
                        <a class="nav-link dropdown-toggle no-caret text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end ">
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="EditarDados">Editar Dados</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="RedefinirSenha">Redefinir Senha</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="ApagarConta">Apagar Conta</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Suporte">Suporte</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Sair">Sair</a></li>
                        </ul>
                    </li>

                }
            </ul>
        </div>
    </div>
</nav>

        
       