@{
    ViewData["Title"] = "Acessórios";
}


<div class="container p-2">
    <h1 class="mb-4 mt-5">Acessórios</h1>
    <h4>
        Complemente seu Dispositivo
    </h4>
    <p class="mb-5">
        Desde capas protetoras a carregadores, explore nossa seleção de acessórios e maximize a performance do seu smartphone. 
        Funcionalidade e estilo se unem para garantir que você tenha tudo o que precisa para aprimorar sua experiência mobile.
    </p>
    <div class="products row text-center m-4">
        <div class="col">
            <img src="~/image/acessorio/acessorio-1.jpg" />
            <h6>Case - BassVibe Ultra</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <p class="price">R$99.90</p>
            <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="Favoritos">
                Adicionar ao Carrinho
            </a>
            <a role="button" class="btn btn-dark " asp-controller="Home" asp-action="Favoritos">
                <i class="bi bi-heart text-white"></i>
            </a>
        </div>
        <div class="col">
            <img src="~/image/acessorio/acessorio-2.jpg" />
            <h6>Cabo USB - Digi 10</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <p class="price">R$89.90</p>
            <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="Favoritos">
                Adicionar ao Carrinho
            </a>
            <a role="button" class="btn btn-dark " asp-controller="Home" asp-action="Favoritos">
                <i class="bi bi-heart text-white"></i>
            </a>
        </div>
    </div>
    <div class="products row text-center m-4 mt-5">
        <div class="col">
            <img src="~/image/acessorio/acessorio-3.jpg" />
            <h6>Case Vermelha - BassVibe Ultra</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <p class="price">R$109.90</p>
            <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="Favoritos">
                Adicionar ao Carrinho
            </a>
            <a role="button" class="btn btn-dark " asp-controller="Home" asp-action="Favoritos">
                <i class="bi bi-heart text-white"></i>
            </a>
        </div>
        <div class="col">
            <img src="~/image/acessorio/acessorio-4.jpg" />
            <h6>Suporte para Headphones</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <p class="price">R$129.90</p>
            <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="Favoritos">
                Adicionar ao Carrinho
            </a>
            <a role="button" class="btn btn-dark " asp-controller="Home" asp-action="Favoritos">
                <i class="bi bi-heart text-white"></i>
            </a>
        </div>

    </div>


</div>