@model List<ProdutoModel>

@{
    ViewData["Title"] = "Teste" + @ViewBag.CategoriaSelecionada;
}


<div class="container p-2">
    <h1 class="mb-4 mt-5">@ViewBag.CategoriaSelecionada</h1>
    <h4></h4>
    <p class="mb-5">
        Explore nossa seleção de smartphones e descubra os últimos lançamentos em tecnologia mobile.
        Desde modelos de alto desempenho até opções mais acessíveis, temos o dispositivo ideal para atender às suas necessidades.
        Desempenho, design e inovação ao seu alcance — escolha o seu próximo smartphone agora.
    </p>

    <div class="products row text-center justify-content-evenly m-4">

        @foreach (var produto in Model)
        {
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 mb-4">
                <img src="@Url.Content(produto.ImagemUrl)" />
                <h6>@produto.NomeProduto</h6>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <p class="price">R$@produto.Preco</p>
                <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="Favoritos">
                    Adicionar ao Carrinho
                </a>
                <a role="button" class="btn btn-dark " asp-controller="Home" asp-action="Favoritos">
                    <i class="bi bi-heart text-white"></i>
                </a>
            </div>
        }
    </div>


</div>
