@{
    ViewData["Title"] = "Headphones";
}


<div class="container p-2">
    <h1 class="mb-4 mt-5">Headphones</h1>
    <h4>Som de Alta Qualidade para Cada Momento</h4>
    <p class="mb-5">
        Mergulhe em um som cristalino com nossa linha de headphones de alta performance. 
        Seja para música, podcasts ou chamadas, temos opções com cancelamento de ruído, 
        conforto superior e tecnologia de ponta para garantir a melhor experiência auditiva.
    </p>
    <div class="products row text-center m-4">
        <div class="col">
            <img src="~/image/headphone/headphone-1.jpg" />
            <h6>BassVibe</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <p class="price">R$489.90</p>
            <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="Favoritos">
                Adicionar ao Carrinho
            </a>
            <a role="button" class="btn btn-dark " asp-controller="Home" asp-action="Favoritos">
                <i class="bi bi-heart text-white"></i>
            </a>
        </div>
        <div class="col">
            <img src="~/image/headphone/headphone-2.jpg" />
            <h6>BassVibe X</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <p class="price">R$549.90</p>
            <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="Favoritos">
                Adicionar ao Carrinho
            </a>
            <a role="button" class="btn btn-dark " asp-controller="Home" asp-action="Favoritos">
                <i class="bi bi-heart text-white"></i>
            </a>
        </div>
        <div class="col">
            <img src="~/image/headphone/headphone-3.jpg" />
            <h6>BassVibe Ultra</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <p class="price">R$399.90</p>
            <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="Favoritos">
                Adicionar ao Carrinho
            </a>
            <a role="button" class="btn btn-dark " asp-controller="Home" asp-action="Favoritos">
                <i class="bi bi-heart text-white"></i>
            </a>
        </div>
    </div>
    <div class="products row text-center m-4 mt-5">
        <div class="col">
            <img src="~/image/headphone/headphone-4.jpg" />
            <h6>Wave 4</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <p class="price">R$429.90</p>
            <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="Favoritos">
                Adicionar ao Carrinho
            </a>
            <a role="button" class="btn btn-dark " asp-controller="Home" asp-action="Favoritos">
                <i class="bi bi-heart text-white"></i>
            </a>
        </div>
        <div class="col">
            <img src="~/image/headphone/headphone-5.jpg" />
            <h6>Wave 4 Ultra</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <p class="price">R$599.90</p>
            <a role="button" class="btn btn-dark" asp-controller="Home" asp-action="Favoritos">
                Adicionar ao Carrinho
            </a>
            <a role="button" class="btn btn-dark " asp-controller="Home" asp-action="Favoritos">
                <i class="bi bi-heart text-white"></i>
            </a>
        </div>

    </div>


</div>