@model UsuarioModel

@{
    ViewData["Title"] = "Redefinir Senha";
}


<div class="container p-2">
    <h1 class="mb-4 mt-5">Redefinir Senha</h1>
</div>

<div class="container p-2">
    <form method="post">
        <div>
            <label for="nome">Senha Atual</label>
            <input class="form-control" type="text" placeholder="*Digite a sua senha atual" />
        </div>
        <div>
            <label for="email">Nova Senha</label>
            <input class="form-control" type="email" placeholder="*Digite uma nova senha" />
        </div>

        <div>
            <label for="endereco">Confirmação Nova Senha</label>
            <input class="form-control" type="text" placeholder="*Digite novamente a nova senha" />
            </<div>
                <button type="submit" class="btn btn-dark mb-2 mt-3 d-block w-100">Alterar Senha</button>
                <a class="btn btn-dark d-block" role="button">Voltar</a>

    </form>

</div>