@model UsuarioModel

@{
    ViewData["Title"] = "Editar dados";
}


<div class="container p-2">
    <h1 class="mb-4 mt-5">Editar Dados</h1>
</div>

<div class="container p-2">
    <form method="post">
        <div>
            <label for="nome">Nome</label>
            <input class="form-control" type="text" placeholder="*Digite o seu Nome" />

        </div>
        <div>
            <label for="email">Email</label>
            <input class="form-control" type="email" placeholder="*Digite o seu Email" />
        </div>

        <div>
            <label for="endereco">Endereço</label>
            <input class="form-control" type="text" placeholder="*Digite o seu endereço" />
            </<div>
         <button type="submit" class="btn btn-dark mb-2 mt-3 d-block w-100">Alterar dados</button>
         <a class="btn btn-dark d-block" role="button">Voltar</a>

    </form>

</div>