@{
    ViewData["Title"] = "Suporte";
}

<div class="container p-2">
    <h1 class="mb-4 mt-5">Suporte ao Cliente</h1>
    <h5>
        Bem-vindo ao Suporte da DigitalStore
    </h5>
    <p>
        Estamos aqui para ajudar você! Se precisar de assistência com seu pedido, devoluções, produtos ou qualquer outra dúvida, 
        confira nossas opções de suporte abaixo.
    </p>
    <h5>Central de Ajuda</h5>
    <p>Explore nossas perguntas frequentes (FAQ) e encontre respostas rápidas para os temas mais comuns:<br />

        <strong>Como posso rastrear meu pedido?</strong><br />
        Acesse a seção "Meus Pedidos" em sua conta e insira o número de rastreamento enviado por e-mail para acompanhar o status da entrega.<br />
        
        <strong>Quais são as opções de pagamento disponíveis?</strong><br />
        Aceitamos cartões de crédito (Visa, MasterCard, American Express), PayPal e pagamento por boleto bancário.<br />

        <strong>Como faço para cancelar ou modificar meu pedido?</strong><br />
        Se precisar cancelar ou alterar um pedido, entre em contato conosco dentro de 24 horas após a realização do pedido.<br />

        <strong>Como solicitar devoluções ou reembolsos?</strong><br />
    Para devoluções, entre em contato com nosso suporte em até 30 dias após o recebimento do produto. Consulte nossa Política de Devoluções para mais detalhes.
    </p>
    <h5>Formas de Contato</h5>
    <ul>
        <li><strong>Telefone:</strong> (81) 4002-1234</li>
        <li><strong>E-mail:</strong> suporte@digitalstore.com</li>
        <li><strong>WhatsApp:</strong> (11) 99999-8888</li>
    </ul>
    <p>
        Nossa equipe de suporte está à disposição para ajudar com qualquer problema técnico, pedidos, devoluções, ou perguntas sobre produtos.

    </p>
    <h5>Horário de Atendimento</h5>
    <ul>
        <li><strong>Segunda a Sexta-feira:</strong> 08:00 às 20:00</li>
        <li><strong>Sábado:</strong> 09:00 às 14:00</li>
        <li><strong>Domingo e feriados:</strong> Fechado</li>
    </ul>
    <p>
        Caso entre em contato fora dos horários de atendimento, responderemos o mais breve possível no próximo dia útil.


    </p>
</div>