@{
    ViewData["Title"] = "Favoritos";
}
<div class= "text-start">
    <h1>Favoritos</h1>


    <div class="products row text-center m-4">
        <div class="col">
            <img src="~/image/notebook-card2.jpg" />
            <h6>Nome do produto</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <p class="price">R$99.90</p>
        </div>
        <div class="col">
            <img src="~/image/phone-card.jpg" />
            <h6>Nome do produto</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <p class="price">R$99.90</p>
        </div>
        <div class="col">
            <img src="~/image/watch-card.jpg" />
            <h6>Nome do produto</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <p class="price">R$99.90</p>
        </div>
        <div class="col">
            <img src="~/image/watch-card.jpg" />
            <h6>Nome do produto</h6>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <p class="price">R$99.90</p>
        </div>
    </div>

</div>