@model AlterarSenhaModel

@{
    ViewData["Title"] = "Alterar Senha";
}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">

                <!-- Cabeçalho do formulário -->
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Alterar Senha</h3>
                </div>

                <div class="card-body">
                    <form asp-controller="AlterarSenha" asp-action="AlterarSenha" method="post">

                        <!-- Campo para senha atual -->
                        <div class="form-floating mb-3">
                            <input class="form-control" type="password" asp-for="SenhaAtual" />
                            <label for="SenhaAtual">Senha Atual</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.SenhaAtual) </span>
                        </div>

                        <!-- Campo para nova senha -->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="NovaSenha" asp-for="NovaSenha" type="password" />
                            <label for="NovaSenha">Nova Senha</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.NovaSenha) </span>
                        </div>

                        <!-- Campo para confirmação da nova senha -->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="ConfirmarNovaSenha" asp-for="ConfirmarNovaSenha" type="password" />
                            <label for="ConfirmarNovaSenha">Confirmar nova senha</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.ConfirmarNovaSenha) </span>
                        </div>

                        <!-- Botões de ação -->
                        <div class="mt-4 mb-0">
                            <button type="submit" class="btn btn-dark d-block w-100 mb-1">Alterar Senha</button>
                            <a class="btn bg-transparent border-0 d-block w-100" asp-controller="Usuario" asp-action="MinhaConta">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
