@model UsuarioModel
@{
    ViewData["Title"] = "Apagar Conta";
}

<div class="container p-2">
    <h1 class="mb-4 mt-5">Apagar Conta</h1>
</div>

<div class="container p-2">
    <h4>, deseja realmente apagar sua conta?</h4>
    <form>
    <button type="submit" class="btn btn-dark mb-2 mt-3 d-block w-100">Apagar conta</button>
    <a class="btn btn-dark d-block" role="button">Voltar</a>

    </form>

</div>